/* ====================================1 пример===================================================== */
.example-1 {
	color: green;
}
.example-1 a {
	color: red;
}

.example-1 .my-class-1 a {
	color: inherit;
}

.example-1 .my-class-2 a {
	color: initial;
}

.example-1 .my-class-3 a {
	color: unset;
}
/* ====================================2 пример===================================================== */
.example-2 blockquote {
	background-color: yellow;
	border: 2px solid blue;
}

.example-2 .fix-this {
	all: unset;
}

/* .example-2 .fix-this {
	all: inherit;
} */

/* .example-2 .fix-this {
	all: initial;
} */

/* .example-2 .fix-this {
	all: revert;
} */
/* ====================================3 пример===================================================== */

.example-3 #outer1 div ul .nav1 a {
	background-color: blue;
	padding: 5px;
	display: inline-block;
	margin-bottom: 10px;
}

.example-3 div div li a {
	color: yellow;
}

.example-3 #outer2 div ul .nav2 a {
	background-color: blue;
	padding: 5px;
	display: inline-block;
	margin-bottom: 10px;
	background-color: inherit;
}

/* ====================================4 пример===================================================== */
.example-4 h2 {
	font-size: 2em;
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.example-4 .small {
	font-size: 1em;
}

.example-4 .bright {
	color: rebeccapurple;
}

.example-4 #smid {
	font-size: 4em;
	color: aqua;
}
