body {
	font-family: "Roboto", sans-serif, "Arial";
	font-weight: 400;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #999;
	margin: 0px;
}

a {
	text-decoration: none;
	color: #999;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* -----------------------------HEADER----------------------------------- */

.header__beeline,
.main__beeline {
	max-width: 1300px;
	width: 100%;
}

.header__beeline {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.header__links a {
	margin-left: 30px;
}

.header__links {
	display: flex;
	justify-content: space-evenly;
}

.container {
	display: inherit;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
	font-size: 0.8em;
}

.header__name {
	font-size: 5.9em;
	color: #333;
	text-align: center;
}

/* -----------------------------MAIN----------------------------------- */

.main__beeline {
	color: #333;
	margin-bottom: 1px;
}

.main__title {
	font-weight: 700;
	font-size: 3.8em;
	margin-bottom: 23px;
}

.main__list > li {
	margin: 40px 0px;
}

.main__block-border {
	border: solid 2px #999;
	font-size: 14px;
	font-weight: 500;
}

.main__block-container {
	padding: 20px 20px 60px;
}

.main-block__title {
	font-weight: 500;
	font-size: 1.5em;
	border-bottom: #333 solid 3px;
	padding-bottom: 10px;
}

.main-block__title,
.event__img-text,
.news__text {
	text-transform: uppercase;
}

.under-title__line {
	margin-top: 11px;
	height: 1.5px;
	background-color: #999;
}

.user__title,
.event__text,
.event__img-text,
.main-block__title,
.news__text {
	color: #333;
}

/*КОНТЕЙНЕР СОБЫТИЯ И СОЦ СЕТИ С ПОЛЬЗОВАТЕЛЯМИ*/
.events-social {
	display: flex;
	justify-content: space-between;
}

.main__news-login > div {
	display: flex;
	justify-content: space-between;
}

/* -----------------------------MAIN-МЕНЮ---------------------------------- */

.main__menu {
	display: flex;
	background-color: #333;
	color: #fff;
	margin: 35px 0px;
	padding: 25px 0px;
	border-radius: 7px;
}

.main__menu a {
	background-color: #333;
	color: #fff;
	font-size: 0.95em;
	font-weight: 300;
	margin-left: 45px;
}

/* -----------------------------MAIN-ПРОСТО КАРТИНКИ----------------------------------- */

.main__small {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.main__big {
	display: flex;
	justify-content: space-between;
}

.big__img {
	height: 393px;
}

.small__img {
	height: 193px;
}

/* -------------------MAIN-БЛОК С ПАБЛИКАМИ И ПОЛЬЗОВАТЕЛЯМИ-------------------------------------- */

.main__public-users {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.public-users__list > li:first-child {
	margin-bottom: 40px;
}

.public-users__size,
#login__size {
	width: 390px;
}

/*ПОЛОСА ПОД ЗАГОЛОВКОМ*/
.public-users__list .under-title__line {
	margin-bottom: 50px;
}

.public-users__public {
	display: flex;
	justify-content: space-around;
}

.public__img {
	height: 45px;
	padding-bottom: 12px;
}

.public-users__public li {
	text-align: center;
}

.public-users__users {
	display: flex;
	flex-direction: column;
	padding-bottom: 63px;
}

.public-users__users li {
	margin: 10px 0px;
}

.user__link {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.user__img {
	height: 75px;
}

.users__user {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.user__profession {
	font-size: 0.9em;
	font-weight: 400;
}

/* -------------------MAIN-БЛОК НОВОСТИ----------------------------------------- */

.main__news {
	display: flex;
	justify-content: center;
}

/*ПОЛОСА ПОД ЗАГОЛОВКОМ*/
.main__news .under-title__line {
	width: 300px;
}

/*РАЗМЕР БЛОКА от СОБЫТИЙ*/
.events__size,
#events__size {
	width: 855px;
}

.news__list li {
	padding: 10px 0px 15px;
	border-bottom: #999 solid 3px;
	width: 720px;
}

.news__link {
	display: flex;
}

.news__item {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.news__subtext {
	font-size: 1.13em;
	font-weight: 400;
}

.news__date {
	padding-top: 10px;
	font-weight: 400;
}

.news__text {
	font-size: 1.35em;
}

/* -------------------MAIN-БЛОК СОБЫТИЯ----------------------------------------- */

.events {
	display: flex;
}

.event__item {
	display: flex;
	flex-direction: column;
}

.event__img1 {
	background: url(/hw-14/images/Tile-big/Tile-Big-01.png) no-repeat;
	background-size: contain;
	width: 360px;
	min-height: 220px;
	position: relative;
}

.event__text {
	font-size: 1.2em;
	font-weight: 500;
	margin-top: 5px;
}

.event__date {
	margin-top: 5px;
	font-size: 0.88em;
	font-weight: 400;
}

.events__list-item {
	display: inherit;
	flex-direction: row;
	gap: 30px;
	padding-top: 45px;
}

.event__img-text {
	padding: 2px 15px 5px 10px;
	position: absolute;
	bottom: 0px;
	font-size: 0.9em;
}

.event__img1 .event__img-text {
	background: #39c;
}

.event__img2 {
	background: url(/hw-14/images/Tile-big/Tile-Big-02.png) no-repeat;
	background-size: contain;
	width: 360px;
	min-height: 220px;
	position: relative;
}

.event__img2 .event__img-text {
	background: #6c9;
}

.event__img3 {
	background: url(/hw-14/images/Tile-big/Tile-Big-03.png) no-repeat;
	background-size: contain;
	width: 360px;
	min-height: 220px;
	position: relative;
}

.event__img3 .event__img-text {
	background: #c6c;
}

.event__img4 {
	background: url(/hw-14/images/Tile-big/Tile-Big-04.png) no-repeat;
	background-size: contain;
	width: 360px;
	min-height: 220px;
	position: relative;
}

.event__img4 .event__img-text {
	background: #c96;
}

.events__list > li {
	display: flex;
	justify-content: center;
}

.events__button {
	background-color: #6c6;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 30px 40px;
	margin-top: 100px;
}

.events__button:hover {
	background-color: #fff;
	color: #6c6;
	border: #6c6 solid 0.1px;
	cursor: pointer;
}

/* -------------------MAIN-БЛОК ЛЕКЦИИ----------------------------------------- */

/*РАЗМЕР БЛОКА*/
.videos__size {
	width: 100%;
	height: auto;
	background: #f4f4f4;
}

.videos__size .main-block__title {
	border-bottom: #333 solid 3px;
	padding-bottom: 10px;
}

.videos__list {
	margin: 50px 0px -10px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.videos__list-item1 {
	background: url(/hw-14/images/Videos/video-01.png) no-repeat;
	width: 284px;
	height: 200px;
}

.videos__list-item2 {
	background: url(/hw-14/images/Videos/video-02.png) no-repeat;
	width: 284px;
	height: 200px;
}

.videos__list-item3 {
	background: url(/hw-14/images/Videos/video-03.png) no-repeat;
	width: 284px;
	height: 200px;
}

.videos__list-item4 {
	background: url(/hw-14/images/Videos/video-04.png) no-repeat;
	width: 284px;
	height: 200px;
}

/* --------------------------MAIN-БЛОК РЕГИСТРАЦИЯ----------------------------------------- */

.main__login .under-title__line {
	width: 100%;
}

.main__login .main__block-container {
	padding-bottom: 25px;
}

.login__fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	padding: 0;
}

.login__fieldset > div {
	width: 100%;
	display: inherit;
}

.login__field,
.login__submit {
	margin-top: 20px;
}

.login__legend {
	width: 200px;
	color: #494949;
	font-size: 15px;
	font-weight: 600;
}

.login__field input {
	border: #999 2px solid;
	border-radius: 5px;
	height: auto;
	width: 100%;
	font-size: 15px;
	font-weight: 500;
	padding: 15px 0px 15px 15px;
	outline: none;
}

.login__field input::-webkit-input-placeholder {
	color: #bcbbbb;
}

.login__field input::-moz-placeholder {
	color: #bcbbbb;
}

.login__submit {
	background: #5cbd5c;
	border: none;
	color: #fff;
	border-radius: 7px;
	padding: 15px 40px;
}

.login__buttons {
	display: flex;
	justify-content: end;
}

.login__submit:hover {
	cursor: pointer;
	background: #0df;
}

.login__field input:focus {
	border: solid 3px #6c6;
}

/* -----------------------------FOOTER----------------------------------- */

.footer__beeline {
	background-color: #333;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	padding: 60px 0;
}
