body {
	font-family: "Roboto", sans-serif, "Arial";
	font-weight: 400;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #999;
}

header,
main {
	max-width: 1200px;
	width: 100%;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.header__links a {
	color: #999;
	text-decoration: none;
}

.header__links {
	display: flex;
	justify-content: space-evenly;
	margin-top: 3px;
}

.container {
	margin-bottom: 20px;
}

.header__name {
	font-size: 7.5em;
	color: #333;
	text-align: center;
}

main {
	color: #333;
}

.main__home {
	background-color: #333;
	color: white;
}

.main__title1 {
	font-weight: 700;
	font-size: 2.9em;
	margin: 0 0;
	margin-bottom: 27px;
}

.main__text {
	font-size: 17px;
	margin-bottom: 20px;
}

footer {
	background-color: #333;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
}
