@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto"), url(../fonts/Roboto-Bold.woff2);
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), url(../fonts/Roboto-Regular.woff2);
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100;
	src: local("Roboto"), url(../fonts/Roboto-Thin.woff2);
}
