/*3 пункт*/

.green {
	color: green;
}
.red {
	color: red;
}
.blue {
	color: blue;
}

/*4 пункт*/

#description p {
	color: red;
}
#description span {
	color: green;
}

/*5 пункт*/

p {
	font-family: "Roboto", sans-serif, Arial;
	font-weight: 700;
}
#description:first-child {
	font-family: "Roboto", sans-serif, Arial;
	font-weight: 100;
}
#description > span ~ span {
	font-family: "Roboto", sans-serif, Arial;
	font-weight: 400;
}
