body {
	font-family: "Roboto", sans-serif, "Arial";
	font-weight: 400;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #999;
}

.header__beeline,
.main__beeline {
	max-width: 1300px;
	width: 100%;
}

.header__beeline {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.header__links a {
	color: #999;
	text-decoration: none;
	margin-left: 30px;
}

.header__links {
	display: flex;
	justify-content: space-evenly;
}

.container {
	display: inherit;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
	font-size: 0.8em;
}

.header__name {
	font-size: 5.9em;
	color: #333;
	text-align: center;
}

.main__beeline {
	color: #333;
}

.main__home {
	background-color: #333;
	color: white;
	margin: 35px 0px;
	padding: 25px 0px;
	border-radius: 7px;
}

.main__home a {
	background-color: #333;
	color: white;
	text-decoration: none;
	font-size: 0.95em;
	font-weight: 300;
	margin-left: 45px;
}

.main__title1 {
	font-weight: 700;
	font-size: 3.8em;
	margin-bottom: 23px;
}

.main__img {
	margin: 40px 0px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.main__small {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.main__big {
	display: flex;
	justify-content: space-between;
}

.main__big img {
	height: 393px;
}

.main__small img {
	height: 193px;
}

.footer__beeline {
	background-color: #333;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	padding: 60px 0;
}
