body {
	font-family: "Roboto", sans-serif, "Arial";
	font-weight: 400;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #999;
}

a {
	text-decoration: none;
	color: #999;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.header__beeline,
.main__beeline {
	max-width: 1300px;
	width: 100%;
}

.header__beeline {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.header__links a {
	margin-left: 30px;
}

.header__links {
	display: flex;
	justify-content: space-evenly;
}

.container {
	display: inherit;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
	font-size: 0.8em;
}

.header__name {
	font-size: 5.9em;
	color: #333;
	text-align: center;
}

.main__beeline {
	color: #333;
	margin-bottom: 40px;
}

.main__home {
	background-color: #333;
	color: white;
	margin: 35px 0px;
	padding: 25px 0px;
	border-radius: 7px;
}

.main__home a {
	background-color: #333;
	color: white;
	font-size: 0.95em;
	font-weight: 300;
	margin-left: 45px;
}

.main__title1 {
	font-weight: 700;
	font-size: 3.8em;
	margin-bottom: 23px;
}

.main__img {
	margin: 40px 0px;
}

.main__small {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.main__big {
	display: flex;
	justify-content: space-between;
}

.big__img {
	height: 393px;
}

.small__img {
	height: 193px;
}

.footer__beeline {
	background-color: #333;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	padding: 60px 0;
}

.main__info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.info__social .info__blocks {
	margin-bottom: 40px;
	padding: 20px;
}

.news__container {
	padding: 20px;
}

.info__blocks {
	border: solid 2px #999;
	font-size: 14px;
	font-weight: 500;
}

.info__socialnet {
	max-width: 350px;
	min-width: 350px;
	width: 100%;
}

.info__news {
	min-width: 734px;
	max-width: 734px;
	width: 100%;
}

.socialnet__title,
.news__title,
.news__text {
	font-weight: 500;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #333;
}

.socialnet__public {
	display: flex;
	justify-content: space-around;
	padding: 55px 0px 30px;
}

.public__img {
	height: 45px;
	padding-bottom: 12px;
}

.socialnet__public li {
	text-align: center;
}

.social__line,
.news__line {
	margin-top: 10px;
}

.news__line {
	width: 45%;
}

.news__line .bold-line {
	width: 75%;
}

.bold-line {
	width: 50%;
	height: 2.5px;
	position: relative;
	top: 2px;
	border-radius: 0.5px;
	background-color: #333;
}

.thin-line {
	height: 1.5px;
	background-color: #999;
}

.socialnet__users {
	margin: 40px 0px 30px;
	display: flex;
	flex-direction: column;
}

.socialnet__users li {
	margin: 10px 0px;
}

.user__link {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.user__img {
	height: 75px;
}

.user {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.user__title {
	color: #333;
}

.user__profession {
	font-size: 0.9em;
	font-weight: 400;
}

.news__list li {
	padding: 10px 0px 15px;
	border-bottom: #999 solid 1px;
	width: 97%;
}

.news__link {
	display: flex;
}

.news__item {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.news__subtext {
	font-size: 1.13em;
	font-weight: 400;
}
.news__date {
	padding-top: 10px;
	font-weight: 400;
}
