.p1 {
	font-family: "Roboto", Arial, sans-serif; 
	font-weight: 700;
}
.p2 {
	font-family: "Roboto", Arial, sans-serif; 
	font-weight: 300;
}
.p3 {
	font-family: "Roboto", Arial, sans-serif; 
	font-weight: 400;
}
h3 {
	color: red;
	font-weight: bold;
}
