body {
	font-family: "Roboto", sans-serif, "Arial";
	font-weight: 400;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #999;
	margin: 0px;
}

a {
	text-decoration: none;
	color: #999;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.header__beeline,
.main__beeline {
	max-width: 1300px;
	width: 100%;
}

.header__beeline {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.header__links a {
	margin-left: 30px;
}

.header__links {
	display: flex;
	justify-content: space-evenly;
}

.container {
	display: inherit;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
	font-size: 0.8em;
}

.header__name {
	font-size: 5.9em;
	color: #333;
	text-align: center;
}

.main__beeline {
	color: #333;
	margin-bottom: 1px;
}

.main__home {
	background-color: #333;
	color: white;
	margin: 35px 0px;
	padding: 25px 0px;
	border-radius: 7px;
}

.main__home a {
	background-color: #333;
	color: white;
	font-size: 0.95em;
	font-weight: 300;
	margin-left: 45px;
}

.main__title {
	font-weight: 700;
	font-size: 3.8em;
	margin-bottom: 23px;
}

.main__list > li {
	margin: 40px 0px;
}

.main__small {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.main__big {
	display: flex;
	justify-content: space-between;
}

.big__img {
	height: 393px;
}

.small__img {
	height: 193px;
}

.footer__beeline {
	background-color: #333;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	padding: 60px 0;
}

.main__info {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.main-block__container {
	padding: 20px 20px 60px 20px;
}

.info__border {
	border: solid 2px #999;
	font-size: 14px;
	font-weight: 500;
}

.info__size {
	max-width: 930px;
	max-width: 930px;
	width: 100%;
}

.info__list > li:first-child {
	margin-bottom: 40px;
}

.info__socialnet {
	max-width: 390px;
	min-width: 390px;
	width: 100%;
}

.info__socialnet .under-title__line {
	margin-bottom: 50px;
}

.info__news {
	display: flex;
	justify-content: center;
}

.main-block__title {
	font-weight: 500;
	font-size: 1.5em;
}

.main-block__title,
.event__img-text {
	text-transform: uppercase;
}

.socialnet__public {
	display: flex;
	justify-content: space-around;
}

.public__img {
	height: 45px;
	padding-bottom: 12px;
}

.socialnet__public li {
	text-align: center;
}

.under-title__line {
	margin-top: 10px;
}

.info__news .under-title__line {
	width: 38%;
}

.info__news .under-title__line .bold-line {
	width: 68%;
}

.bold-line {
	width: 50%;
	height: 2.5px;
	position: relative;
	top: 2px;
	border-radius: 0.5px;
	background-color: #333;
}

.thin-line {
	height: 1.5px;
	background-color: #999;
}

.socialnet__users {
	display: flex;
	flex-direction: column;
	padding-bottom: 20.9%;
}

.socialnet__users li {
	margin: 10px 0px;
}

.user__link {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.user__img {
	height: 75px;
}

.user {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.user__title,
.event__text,
.event__img-text,
.main-block__title {
	color: #333;
}

.user__profession {
	font-size: 0.9em;
	font-weight: 400;
}

.news__list li {
	padding: 10px 0px 15px;
	border-bottom: #999 solid 1px;
	width: 87%;
}

.news__link {
	display: flex;
}

.news__item {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.news__subtext {
	font-size: 1.13em;
	font-weight: 400;
}
.news__date {
	padding-top: 10px;
	font-weight: 400;
}

.events__size {
	width: 855px;
}

.events-social {
	display: flex;
	justify-content: space-between;
}

.events .under-title__line {
	width: 91%;
}

.event__item {
	display: flex;
	flex-direction: column;
}

.event__img1 {
	background: url(/images/Tile-big/Tile-Big-01.png) no-repeat;
	background-size: contain;
	width: 360px;
	min-height: 220px;
	position: relative;
}

.event__text {
	font-size: 1.2em;
	font-weight: 500;
	margin-top: 5px;
}

.event__date {
	margin-top: 5px;
	font-size: 0.88em;
	font-weight: 400;
}

.events__list-item {
	display: inherit;
	flex-direction: row;
	gap: 30px;
	padding-top: 45px;
}

.event__img-text {
	padding: 2px 15px 5px 10px;
	position: absolute;
	bottom: 0px;
	font-size: 0.9em;
}

.event__img1 .event__img-text {
	background: #39c;
}

.event__img2 {
	background: url(/images/Tile-big/Tile-Big-02.png) no-repeat;
	background-size: contain;
	width: 360px;
	min-height: 220px;
	position: relative;
}

.event__img2 .event__img-text {
	background: #6c9;
}

.event__img3 {
	background: url(/images/Tile-big/Tile-Big-03.png) no-repeat;
	background-size: contain;
	width: 360px;
	min-height: 220px;
	position: relative;
}

.event__img3 .event__img-text {
	background: #c6c;
}

.event__img4 {
	background: url(/images/Tile-big/Tile-Big-04.png) no-repeat;
	background-size: contain;
	width: 360px;
	min-height: 220px;
	position: relative;
}

.event__img4 .event__img-text {
	background: #c96;
}

.events__list > li {
	display: flex;
	justify-content: center;
}

.events__button {
	background-color: #6c6;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 30px 40px;
	margin-top: 100px;
}

.events__button:hover {
	background-color: #fff;
	color: #6c6;
	border: #6c6 solid 0.1px;
	cursor: pointer;
}

.videos__size {
	width: 100%;
	height: auto;
	background: #f4f4f4;
}

.videos__size .main-block__title {
	border-bottom: #333 solid 3px;
	padding-bottom: 10px;
}

.videos__list {
	margin: 50px 0px -10px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.videos__list-item1 {
	background: url(/images/Videos/video-01.png) no-repeat;
	width: 284px;
	height: 200px;
}

.videos__list-item2 {
	background: url(/images/Videos/video-02.png) no-repeat;
	width: 284px;
	height: 200px;
}

.videos__list-item3 {
	background: url(/images/Videos/video-03.png) no-repeat;
	width: 284px;
	height: 200px;
}

.videos__list-item4 {
	background: url(/images/Videos/video-04.png) no-repeat;
	width: 284px;
	height: 200px;
}
